<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>104985150154-lm80j2rkrlqj6pc8gpr8g3sbeold828g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.104985150154-lm80j2rkrlqj6pc8gpr8g3sbeold828g</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>104985150154-726b60330gqjv1fjjark1u0jnvf91l83.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCY2U2aAoe-xBLmwIdajE-YO1MA-QovLuU</string>
	<key>GCM_SENDER_ID</key>
	<string>104985150154</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.autismbridge.autismBridge</string>
	<key>PROJECT_ID</key>
	<string>autism-bridge</string>
	<key>STORAGE_BUCKET</key>
	<string>autism-bridge.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:104985150154:ios:bbc16a866f60dea6922a33</string>
	<key>DATABASE_URL</key>
	<string>https://autism-bridge-default-rtdb.firebaseio.com</string>
</dict>
</plist>